/*
edge_lvl_row = full
edge_lvl_col = -1
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');
/* variables */
:root {
    --hdr-color-dark: rgb(23, 32, 42);
    --hdr-color-light: rgb(39, 55, 70);
    --border-color-dark: rgb(23, 32, 42);
    --border-color-light: rgb(171, 178, 185);
    --cell-dark: rgb(203, 220, 238);
    --cell-light: rgb(231, 241, 252);
    --hover: rgb(208, 197, 226);
}

/* table general */
table.kindofblue {
    display: table;
    border-collapse: collapse;
    border-left: 1px solid var(--border-color-light);
    border-right: 1px solid var(--border-color-light);
    border-bottom: 2px solid var(--border-color-dark);
}
.kindofblue thead,
.kindofblue tbody {
    display: table-header-group;
}
.kindofblue tr {
    display: table-row;
}
.kindofblue th.col_idx_name,
.kindofblue th.col_name,
.kindofblue th.row_idx_name,
.kindofblue td.row_idx_post,
.kindofblue th.row_name,
.kindofblue td.tbl_cell {
    display: table-cell;
    padding: 0.75em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 12px;
}

/* indeces */
.kindofblue th.col_idx_pre,
.kindofblue th.col_idx_name,
.kindofblue tr th.col_name {
    background: var(--hdr-color-dark);
    color: white;
}
.kindofblue th.row_idx_name,
.kindofblue td.row_idx_post {
    background: var(--hdr-color-light);
    color: white;
}
.kindofblue th.col_idx_name {
    text-align: right;
}
.kindofblue th.row_idx_name,
.kindofblue th.row_name {
    text-align: left;
}
.kindofblue th.col_name {
    text-align: center;
}

/* edges */
.kindofblue th.col_idx_name,
.kindofblue th.row_idx_name,
.kindofblue th.row_name,
.kindofblue th.col_edge,
.kindofblue td.col_edge {
    border-right: 1px solid var(--border-color-light);
}

/* cells */
.kindofblue td.tbl_cell {
    text-align: right;
    font-weight: 400;
}

/* rows types */
.kindofblue tbody tr:nth-child(even),
.kindofblue tbody tr:nth-child(odd) {
    background: unset;
}
.kindofblue tr.tbl_row {
    border-top: 1px solid var(--border-color-light);
}
.kindofblue tr.totals_row {
    border-top: 2px solid var(--border-color-light);
}
.kindofblue tr.totals_row th,
.kindofblue tr.totals_row td {
    background: var(--cell-dark);
    font-weight: bold;
}
.kindofblue tr.tbl_row.agg_row {
    background: var(--cell-light);
    border-top: 2px dotted var(--border-color-light);
}

/* column types */
.kindofblue th.totals_col,
.kindofblue th.totals_perc_col,
.kindofblue td.totals_col,
.kindofblue td.totals_perc_col {
    font-weight: bold;
}
.kindofblue th.totals_col,
.kindofblue td.totals_col {
    border-left: 2px solid var(--border-color-light);
}
.kindofblue tbody td.totals_col,
.kindofblue tbody td.totals_perc_col {
    background: var(--cell-dark);
}
.kindofblue th.perc_col,
.kindofblue td.perc_col,
.kindofblue td.totals_perc_col {
    font-style: italic;
}
.kindofblue th.agg_col,
.kindofblue td.agg_col {
    border-left: 2px dotted var(--border-color-light);
}
.kindofblue tbody tr:not(.totals_row) td.agg_col {
    background: var(--cell-light);
}

/* hover */
.kindofblue tbody tr.tbl_row:hover th,
.kindofblue tbody tr.tbl_row:hover td {
    background: var(--hover);
}
